@import url(reset.css);
.cube {
  border: solid 8px rgba(255, 255, 255, 0.5);
  position: absolute;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.cuboid--bottom, .cuboid--top {
  transform-origin: 50% 0%; }

.cuboid--side-1, .cuboid--side-2 {
  transform-origin: 0% 50%; }

.cuboid__transformer {
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  height: 100%;
  transform-style: preserve-3d; }

.perspective {
  -webkit-perspective: 100vh;
  -moz-perspective: 100vh;
  -ms-perspective: 100vh;
  perspective: 100vh; }

.container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  background: #6495ED;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.rubik {
  width: 30vw;
  height: 30vw; }
  .rubik .cuboid__transformer {
    transform-origin: 50% 50% -15vw; }
    .rubik .cuboid__transformer .cuboid--bottom {
      width: 30vw;
      height: 30vw;
      -webkit-transform: rotateX(-90deg) translateZ(30vw);
      -moz-transform: rotateX(-90deg) translateZ(30vw);
      -ms-transform: rotateX(-90deg) translateZ(30vw);
      transform: rotateX(-90deg) translateZ(30vw); }
    .rubik .cuboid__transformer .cuboid--top {
      width: 30vw;
      height: 30vw;
      -webkit-transform: rotateX(-90deg) rotateY(180deg);
      -moz-transform: rotateX(-90deg) rotateY(180deg);
      -ms-transform: rotateX(-90deg) rotateY(180deg);
      transform: rotateX(-90deg) rotateY(180deg); }
    .rubik .cuboid__transformer .cuboid--front {
      width: 30vw;
      height: 30vw; }
    .rubik .cuboid__transformer .cuboid--back {
      width: 30vw;
      height: 30vw;
      -webkit-transform: translateZ(-30vw);
      -moz-transform: translateZ(-30vw);
      -ms-transform: translateZ(-30vw);
      transform: translateZ(-30vw); }
    .rubik .cuboid__transformer .cuboid--side-1 {
      width: 30vw;
      height: 30vw;
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      transform: rotateY(90deg); }
    .rubik .cuboid__transformer .cuboid--side-2 {
      width: 30vw;
      height: 30vw;
      -webkit-transform: rotateY(90deg) translateZ(30vw);
      -moz-transform: rotateY(90deg) translateZ(30vw);
      -ms-transform: rotateY(90deg) translateZ(30vw);
      transform: rotateY(90deg) translateZ(30vw); }

.part__cube {
  position: absolute;
  transform-style: preserve-3d;
  width: 10vw;
  height: 10vw; }
  .part__cube .cuboid__transformer {
    transform-origin: 50% 50% -5vw; }
    .part__cube .cuboid__transformer .cuboid--bottom {
      width: 10vw;
      height: 10vw;
      -webkit-transform: rotateX(-90deg) translateZ(10vw);
      -moz-transform: rotateX(-90deg) translateZ(10vw);
      -ms-transform: rotateX(-90deg) translateZ(10vw);
      transform: rotateX(-90deg) translateZ(10vw); }
    .part__cube .cuboid__transformer .cuboid--top {
      width: 10vw;
      height: 10vw;
      -webkit-transform: rotateX(-90deg) rotateY(180deg);
      -moz-transform: rotateX(-90deg) rotateY(180deg);
      -ms-transform: rotateX(-90deg) rotateY(180deg);
      transform: rotateX(-90deg) rotateY(180deg); }
    .part__cube .cuboid__transformer .cuboid--front {
      width: 10vw;
      height: 10vw; }
    .part__cube .cuboid__transformer .cuboid--back {
      width: 10vw;
      height: 10vw;
      -webkit-transform: translateZ(-10vw);
      -moz-transform: translateZ(-10vw);
      -ms-transform: translateZ(-10vw);
      transform: translateZ(-10vw); }
    .part__cube .cuboid__transformer .cuboid--side-1 {
      width: 10vw;
      height: 10vw;
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      transform: rotateY(90deg); }
    .part__cube .cuboid__transformer .cuboid--side-2 {
      width: 10vw;
      height: 10vw;
      -webkit-transform: rotateY(90deg) translateZ(10vw);
      -moz-transform: rotateY(90deg) translateZ(10vw);
      -ms-transform: rotateY(90deg) translateZ(10vw);
      transform: rotateY(90deg) translateZ(10vw); }

.cube__inner {
  border: solid 0.25vw #61db96;
  position: absolute;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotateY(45deg) rotateX(45deg);
    -moz-transform: rotateY(45deg) rotateX(45deg);
    -ms-transform: rotateY(45deg) rotateX(45deg);
    transform: rotateY(45deg) rotateX(45deg); }

  100% {
    -webkit-transform: rotateY(405deg) rotateX(45deg);
    -moz-transform: rotateY(405deg) rotateX(45deg);
    -ms-transform: rotateY(405deg) rotateX(45deg);
    transform: rotateY(405deg) rotateX(45deg); } }
@-moz-keyframes spinning {
  0% {
    -webkit-transform: rotateY(45deg) rotateX(45deg);
    -moz-transform: rotateY(45deg) rotateX(45deg);
    -ms-transform: rotateY(45deg) rotateX(45deg);
    transform: rotateY(45deg) rotateX(45deg); }

  100% {
    -webkit-transform: rotateY(405deg) rotateX(45deg);
    -moz-transform: rotateY(405deg) rotateX(45deg);
    -ms-transform: rotateY(405deg) rotateX(45deg);
    transform: rotateY(405deg) rotateX(45deg); } }
@-ms-keyframes spinning {
  0% {
    -webkit-transform: rotateY(45deg) rotateX(45deg);
    -moz-transform: rotateY(45deg) rotateX(45deg);
    -ms-transform: rotateY(45deg) rotateX(45deg);
    transform: rotateY(45deg) rotateX(45deg); }

  100% {
    -webkit-transform: rotateY(405deg) rotateX(45deg);
    -moz-transform: rotateY(405deg) rotateX(45deg);
    -ms-transform: rotateY(405deg) rotateX(45deg);
    transform: rotateY(405deg) rotateX(45deg); } }
@keyframes spinning {
  0% {
    -webkit-transform: rotateY(45deg) rotateX(45deg);
    -moz-transform: rotateY(45deg) rotateX(45deg);
    -ms-transform: rotateY(45deg) rotateX(45deg);
    transform: rotateY(45deg) rotateX(45deg); }

  100% {
    -webkit-transform: rotateY(405deg) rotateX(45deg);
    -moz-transform: rotateY(405deg) rotateX(45deg);
    -ms-transform: rotateY(405deg) rotateX(45deg);
    transform: rotateY(405deg) rotateX(45deg); } }
@-webkit-keyframes border {
  0% {
    border: solid 0.25vw #61db96; }

  50% {
    border: solid 0.25vw #F764D9; }

  100% {
    border: solid 0.25vw #61db96; } }
@-moz-keyframes border {
  0% {
    border: solid 0.25vw #61db96; }

  50% {
    border: solid 0.25vw #F764D9; }

  100% {
    border: solid 0.25vw #61db96; } }
@-ms-keyframes border {
  0% {
    border: solid 0.25vw #61db96; }

  50% {
    border: solid 0.25vw #F764D9; }

  100% {
    border: solid 0.25vw #61db96; } }
@keyframes border {
  0% {
    border: solid 0.25vw #61db96; }

  50% {
    border: solid 0.25vw #F764D9; }

  100% {
    border: solid 0.25vw #61db96; } }
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  100% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); } }
@-moz-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  100% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); } }
@-ms-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  100% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); } }
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  100% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); } }
.trans--rubik-whole {
  -webkit-transform: rotateY(45deg) rotateX(45deg);
  -moz-transform: rotateY(45deg) rotateX(45deg);
  -ms-transform: rotateY(45deg) rotateX(45deg);
  transform: rotateY(45deg) rotateX(45deg);
  -webkit-animation: spinning 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(1) * {
    -webkit-animation: scale 1s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(1) * {
    -webkit-animation: border 1s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(1) * {
    -webkit-animation: border 1s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(1) * {
    -webkit-animation: border 1s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(1) * {
    -webkit-animation: border 1s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(1) * {
    -webkit-animation: border 1s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(1) * {
    -webkit-animation: border 1s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(2) * {
    -webkit-animation: scale 2s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(2) * {
    -webkit-animation: border 2s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(2) * {
    -webkit-animation: border 2s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(2) * {
    -webkit-animation: border 2s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(2) * {
    -webkit-animation: border 2s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(2) * {
    -webkit-animation: border 2s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(2) * {
    -webkit-animation: border 2s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(3) * {
    -webkit-animation: scale 3s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(3) * {
    -webkit-animation: border 3s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(3) * {
    -webkit-animation: border 3s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(3) * {
    -webkit-animation: border 3s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(3) * {
    -webkit-animation: border 3s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(3) * {
    -webkit-animation: border 3s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(3) * {
    -webkit-animation: border 3s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(4) * {
    -webkit-animation: scale 4s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(4) * {
    -webkit-animation: border 4s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(4) * {
    -webkit-animation: border 4s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(4) * {
    -webkit-animation: border 4s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(4) * {
    -webkit-animation: border 4s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(4) * {
    -webkit-animation: border 4s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(4) * {
    -webkit-animation: border 4s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(5) * {
    -webkit-animation: scale 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(5) * {
    -webkit-animation: border 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(5) * {
    -webkit-animation: border 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(5) * {
    -webkit-animation: border 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(5) * {
    -webkit-animation: border 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(5) * {
    -webkit-animation: border 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(5) * {
    -webkit-animation: border 5s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(6) * {
    -webkit-animation: scale 6s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(6) * {
    -webkit-animation: border 6s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(6) * {
    -webkit-animation: border 6s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(6) * {
    -webkit-animation: border 6s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(6) * {
    -webkit-animation: border 6s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(6) * {
    -webkit-animation: border 6s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(6) * {
    -webkit-animation: border 6s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(7) * {
    -webkit-animation: scale 7s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(7) * {
    -webkit-animation: border 7s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(7) * {
    -webkit-animation: border 7s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(7) * {
    -webkit-animation: border 7s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(7) * {
    -webkit-animation: border 7s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(7) * {
    -webkit-animation: border 7s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(7) * {
    -webkit-animation: border 7s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(8) * {
    -webkit-animation: scale 8s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(8) * {
    -webkit-animation: border 8s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(8) * {
    -webkit-animation: border 8s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(8) * {
    -webkit-animation: border 8s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(8) * {
    -webkit-animation: border 8s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(8) * {
    -webkit-animation: border 8s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(8) * {
    -webkit-animation: border 8s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(9) * {
    -webkit-animation: scale 9s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(9) * {
    -webkit-animation: border 9s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(9) * {
    -webkit-animation: border 9s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(9) * {
    -webkit-animation: border 9s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(9) * {
    -webkit-animation: border 9s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(9) * {
    -webkit-animation: border 9s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(9) * {
    -webkit-animation: border 9s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(10) * {
    -webkit-animation: scale 10s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(10) * {
    -webkit-animation: border 10s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(10) * {
    -webkit-animation: border 10s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(10) * {
    -webkit-animation: border 10s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(10) * {
    -webkit-animation: border 10s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(10) * {
    -webkit-animation: border 10s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(10) * {
    -webkit-animation: border 10s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(11) * {
    -webkit-animation: scale 11s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(11) * {
    -webkit-animation: border 11s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(11) * {
    -webkit-animation: border 11s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(11) * {
    -webkit-animation: border 11s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(11) * {
    -webkit-animation: border 11s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(11) * {
    -webkit-animation: border 11s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(11) * {
    -webkit-animation: border 11s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(12) * {
    -webkit-animation: scale 12s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(12) * {
    -webkit-animation: border 12s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(12) * {
    -webkit-animation: border 12s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(12) * {
    -webkit-animation: border 12s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(12) * {
    -webkit-animation: border 12s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(12) * {
    -webkit-animation: border 12s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(12) * {
    -webkit-animation: border 12s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(13) * {
    -webkit-animation: scale 13s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(13) * {
    -webkit-animation: border 13s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(13) * {
    -webkit-animation: border 13s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(13) * {
    -webkit-animation: border 13s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(13) * {
    -webkit-animation: border 13s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(13) * {
    -webkit-animation: border 13s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(13) * {
    -webkit-animation: border 13s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(14) * {
    -webkit-animation: scale 14s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(14) * {
    -webkit-animation: border 14s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(14) * {
    -webkit-animation: border 14s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(14) * {
    -webkit-animation: border 14s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(14) * {
    -webkit-animation: border 14s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(14) * {
    -webkit-animation: border 14s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(14) * {
    -webkit-animation: border 14s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(15) * {
    -webkit-animation: scale 15s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(15) * {
    -webkit-animation: border 15s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(15) * {
    -webkit-animation: border 15s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(15) * {
    -webkit-animation: border 15s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(15) * {
    -webkit-animation: border 15s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(15) * {
    -webkit-animation: border 15s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(15) * {
    -webkit-animation: border 15s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(16) * {
    -webkit-animation: scale 16s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(16) * {
    -webkit-animation: border 16s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(16) * {
    -webkit-animation: border 16s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(16) * {
    -webkit-animation: border 16s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(16) * {
    -webkit-animation: border 16s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(16) * {
    -webkit-animation: border 16s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(16) * {
    -webkit-animation: border 16s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(17) * {
    -webkit-animation: scale 17s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(17) * {
    -webkit-animation: border 17s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(17) * {
    -webkit-animation: border 17s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(17) * {
    -webkit-animation: border 17s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(17) * {
    -webkit-animation: border 17s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(17) * {
    -webkit-animation: border 17s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(17) * {
    -webkit-animation: border 17s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(18) * {
    -webkit-animation: scale 18s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(18) * {
    -webkit-animation: border 18s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(18) * {
    -webkit-animation: border 18s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(18) * {
    -webkit-animation: border 18s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(18) * {
    -webkit-animation: border 18s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(18) * {
    -webkit-animation: border 18s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(18) * {
    -webkit-animation: border 18s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(19) * {
    -webkit-animation: scale 19s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(19) * {
    -webkit-animation: border 19s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(19) * {
    -webkit-animation: border 19s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(19) * {
    -webkit-animation: border 19s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(19) * {
    -webkit-animation: border 19s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(19) * {
    -webkit-animation: border 19s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(19) * {
    -webkit-animation: border 19s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(20) * {
    -webkit-animation: scale 20s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(20) * {
    -webkit-animation: border 20s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(20) * {
    -webkit-animation: border 20s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(20) * {
    -webkit-animation: border 20s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(20) * {
    -webkit-animation: border 20s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(20) * {
    -webkit-animation: border 20s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(20) * {
    -webkit-animation: border 20s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(21) * {
    -webkit-animation: scale 21s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(21) * {
    -webkit-animation: border 21s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(21) * {
    -webkit-animation: border 21s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(21) * {
    -webkit-animation: border 21s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(21) * {
    -webkit-animation: border 21s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(21) * {
    -webkit-animation: border 21s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(21) * {
    -webkit-animation: border 21s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(22) * {
    -webkit-animation: scale 22s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(22) * {
    -webkit-animation: border 22s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(22) * {
    -webkit-animation: border 22s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(22) * {
    -webkit-animation: border 22s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(22) * {
    -webkit-animation: border 22s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(22) * {
    -webkit-animation: border 22s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(22) * {
    -webkit-animation: border 22s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(23) * {
    -webkit-animation: scale 23s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(23) * {
    -webkit-animation: border 23s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(23) * {
    -webkit-animation: border 23s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(23) * {
    -webkit-animation: border 23s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(23) * {
    -webkit-animation: border 23s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(23) * {
    -webkit-animation: border 23s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(23) * {
    -webkit-animation: border 23s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(24) * {
    -webkit-animation: scale 24s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(24) * {
    -webkit-animation: border 24s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(24) * {
    -webkit-animation: border 24s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(24) * {
    -webkit-animation: border 24s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(24) * {
    -webkit-animation: border 24s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(24) * {
    -webkit-animation: border 24s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(24) * {
    -webkit-animation: border 24s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(25) * {
    -webkit-animation: scale 25s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(25) * {
    -webkit-animation: border 25s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(25) * {
    -webkit-animation: border 25s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(25) * {
    -webkit-animation: border 25s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(25) * {
    -webkit-animation: border 25s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(25) * {
    -webkit-animation: border 25s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(25) * {
    -webkit-animation: border 25s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(26) * {
    -webkit-animation: scale 26s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(26) * {
    -webkit-animation: border 26s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(26) * {
    -webkit-animation: border 26s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(26) * {
    -webkit-animation: border 26s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(26) * {
    -webkit-animation: border 26s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(26) * {
    -webkit-animation: border 26s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(26) * {
    -webkit-animation: border 26s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(27) * {
    -webkit-animation: scale 27s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(27) * {
    -webkit-animation: border 27s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(27) * {
    -webkit-animation: border 27s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(27) * {
    -webkit-animation: border 27s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(27) * {
    -webkit-animation: border 27s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(27) * {
    -webkit-animation: border 27s infinite linear; }
  .trans--rubik-whole .cuboid__contain:nth-of-type(27) * {
    -webkit-animation: border 27s infinite linear; }

.cube1 {
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
  -moz-transform: translateX(0) translateY(0) translateZ(0);
  -ms-transform: translateX(0) translateY(0) translateZ(0);
  transform: translateX(0) translateY(0) translateZ(0); }

.cube2 {
  -webkit-transform: translateX(10vw) translateY(0) translateZ(0);
  -moz-transform: translateX(10vw) translateY(0) translateZ(0);
  -ms-transform: translateX(10vw) translateY(0) translateZ(0);
  transform: translateX(10vw) translateY(0) translateZ(0); }

.cube3 {
  -webkit-transform: translateX(20vw) translateY(0) translateZ(0);
  -moz-transform: translateX(20vw) translateY(0) translateZ(0);
  -ms-transform: translateX(20vw) translateY(0) translateZ(0);
  transform: translateX(20vw) translateY(0) translateZ(0); }

.cube4 {
  -webkit-transform: translateX(0) translateY(10vw) translateZ(0);
  -moz-transform: translateX(0) translateY(10vw) translateZ(0);
  -ms-transform: translateX(0) translateY(10vw) translateZ(0);
  transform: translateX(0) translateY(10vw) translateZ(0); }

.cube5 {
  -webkit-transform: translateX(10vw) translateY(10vw) translateZ(0);
  -moz-transform: translateX(10vw) translateY(10vw) translateZ(0);
  -ms-transform: translateX(10vw) translateY(10vw) translateZ(0);
  transform: translateX(10vw) translateY(10vw) translateZ(0); }

.cube6 {
  -webkit-transform: translateX(20vw) translateY(10vw) translateZ(0);
  -moz-transform: translateX(20vw) translateY(10vw) translateZ(0);
  -ms-transform: translateX(20vw) translateY(10vw) translateZ(0);
  transform: translateX(20vw) translateY(10vw) translateZ(0); }

.cube7 {
  -webkit-transform: translateX(0) translateY(20vw) translateZ(0);
  -moz-transform: translateX(0) translateY(20vw) translateZ(0);
  -ms-transform: translateX(0) translateY(20vw) translateZ(0);
  transform: translateX(0) translateY(20vw) translateZ(0); }

.cube8 {
  -webkit-transform: translateX(10vw) translateY(20vw) translateZ(0);
  -moz-transform: translateX(10vw) translateY(20vw) translateZ(0);
  -ms-transform: translateX(10vw) translateY(20vw) translateZ(0);
  transform: translateX(10vw) translateY(20vw) translateZ(0); }

.cube9 {
  -webkit-transform: translateX(20vw) translateY(20vw) translateZ(0);
  -moz-transform: translateX(20vw) translateY(20vw) translateZ(0);
  -ms-transform: translateX(20vw) translateY(20vw) translateZ(0);
  transform: translateX(20vw) translateY(20vw) translateZ(0); }

.cube10 {
  -webkit-transform: translateX(0) translateY(0) translateZ(-10vw);
  -moz-transform: translateX(0) translateY(0) translateZ(-10vw);
  -ms-transform: translateX(0) translateY(0) translateZ(-10vw);
  transform: translateX(0) translateY(0) translateZ(-10vw); }

.cube11 {
  -webkit-transform: translateX(10vw) translateY(0) translateZ(-10vw);
  -moz-transform: translateX(10vw) translateY(0) translateZ(-10vw);
  -ms-transform: translateX(10vw) translateY(0) translateZ(-10vw);
  transform: translateX(10vw) translateY(0) translateZ(-10vw); }

.cube12 {
  -webkit-transform: translateX(20vw) translateY(0) translateZ(-10vw);
  -moz-transform: translateX(20vw) translateY(0) translateZ(-10vw);
  -ms-transform: translateX(20vw) translateY(0) translateZ(-10vw);
  transform: translateX(20vw) translateY(0) translateZ(-10vw); }

.cube13 {
  -webkit-transform: translateX(0) translateY(10vw) translateZ(-10vw);
  -moz-transform: translateX(0) translateY(10vw) translateZ(-10vw);
  -ms-transform: translateX(0) translateY(10vw) translateZ(-10vw);
  transform: translateX(0) translateY(10vw) translateZ(-10vw); }

.cube14 {
  -webkit-transform: translateX(10vw) translateY(10vw) translateZ(-10vw);
  -moz-transform: translateX(10vw) translateY(10vw) translateZ(-10vw);
  -ms-transform: translateX(10vw) translateY(10vw) translateZ(-10vw);
  transform: translateX(10vw) translateY(10vw) translateZ(-10vw); }

.cube15 {
  -webkit-transform: translateX(20vw) translateY(10vw) translateZ(-10vw);
  -moz-transform: translateX(20vw) translateY(10vw) translateZ(-10vw);
  -ms-transform: translateX(20vw) translateY(10vw) translateZ(-10vw);
  transform: translateX(20vw) translateY(10vw) translateZ(-10vw); }

.cube16 {
  -webkit-transform: translateX(0) translateY(20vw) translateZ(-10vw);
  -moz-transform: translateX(0) translateY(20vw) translateZ(-10vw);
  -ms-transform: translateX(0) translateY(20vw) translateZ(-10vw);
  transform: translateX(0) translateY(20vw) translateZ(-10vw); }

.cube17 {
  -webkit-transform: translateX(10vw) translateY(20vw) translateZ(-10vw);
  -moz-transform: translateX(10vw) translateY(20vw) translateZ(-10vw);
  -ms-transform: translateX(10vw) translateY(20vw) translateZ(-10vw);
  transform: translateX(10vw) translateY(20vw) translateZ(-10vw); }

.cube18 {
  -webkit-transform: translateX(20vw) translateY(20vw) translateZ(-10vw);
  -moz-transform: translateX(20vw) translateY(20vw) translateZ(-10vw);
  -ms-transform: translateX(20vw) translateY(20vw) translateZ(-10vw);
  transform: translateX(20vw) translateY(20vw) translateZ(-10vw); }

.cube19 {
  -webkit-transform: translateX(0) translateY(0) translateZ(-20vw);
  -moz-transform: translateX(0) translateY(0) translateZ(-20vw);
  -ms-transform: translateX(0) translateY(0) translateZ(-20vw);
  transform: translateX(0) translateY(0) translateZ(-20vw); }

.cube20 {
  -webkit-transform: translateX(10vw) translateY(0) translateZ(-20vw);
  -moz-transform: translateX(10vw) translateY(0) translateZ(-20vw);
  -ms-transform: translateX(10vw) translateY(0) translateZ(-20vw);
  transform: translateX(10vw) translateY(0) translateZ(-20vw); }

.cube21 {
  -webkit-transform: translateX(20vw) translateY(0) translateZ(-20vw);
  -moz-transform: translateX(20vw) translateY(0) translateZ(-20vw);
  -ms-transform: translateX(20vw) translateY(0) translateZ(-20vw);
  transform: translateX(20vw) translateY(0) translateZ(-20vw); }

.cube22 {
  -webkit-transform: translateX(0) translateY(10vw) translateZ(-20vw);
  -moz-transform: translateX(0) translateY(10vw) translateZ(-20vw);
  -ms-transform: translateX(0) translateY(10vw) translateZ(-20vw);
  transform: translateX(0) translateY(10vw) translateZ(-20vw); }

.cube23 {
  -webkit-transform: translateX(10vw) translateY(10vw) translateZ(-20vw);
  -moz-transform: translateX(10vw) translateY(10vw) translateZ(-20vw);
  -ms-transform: translateX(10vw) translateY(10vw) translateZ(-20vw);
  transform: translateX(10vw) translateY(10vw) translateZ(-20vw); }

.cube24 {
  -webkit-transform: translateX(20vw) translateY(10vw) translateZ(-20vw);
  -moz-transform: translateX(20vw) translateY(10vw) translateZ(-20vw);
  -ms-transform: translateX(20vw) translateY(10vw) translateZ(-20vw);
  transform: translateX(20vw) translateY(10vw) translateZ(-20vw); }

.cube25 {
  -webkit-transform: translateX(0) translateY(20vw) translateZ(-20vw);
  -moz-transform: translateX(0) translateY(20vw) translateZ(-20vw);
  -ms-transform: translateX(0) translateY(20vw) translateZ(-20vw);
  transform: translateX(0) translateY(20vw) translateZ(-20vw); }

.cube26 {
  -webkit-transform: translateX(10vw) translateY(20vw) translateZ(-20vw);
  -moz-transform: translateX(10vw) translateY(20vw) translateZ(-20vw);
  -ms-transform: translateX(10vw) translateY(20vw) translateZ(-20vw);
  transform: translateX(10vw) translateY(20vw) translateZ(-20vw); }

.cube27 {
  -webkit-transform: translateX(20vw) translateY(20vw) translateZ(-20vw);
  -moz-transform: translateX(20vw) translateY(20vw) translateZ(-20vw);
  -ms-transform: translateX(20vw) translateY(20vw) translateZ(-20vw);
  transform: translateX(20vw) translateY(20vw) translateZ(-20vw); }
